html{-webkit-tap-highlight-color:transparent;overflow-x:hidden;min-width:6.4rem;font-size:312.5%}body{color:#333;font-size:.28em;line-height:1.5;font-family:arial,Microsoft Yahei;background:#eee;webkit-touch-callout:none;-webkit-user-select:none}body,header,footer,section,div,span,p,img,a,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,em,i,b,u,del,menu,nav,fieldset,legend,article,aside,details,figcaption,hgroup,pre,code,from,blockquote,th,td,tr,hr,table,img,figure,button,input,textarea{margin:0;padding:0;webkit-touch-callout:none;-webkit-text-size-adjust:none}table{border-collapse:collapse;border-spacing:0}img{vertical-align:middle;border:0}h1,h2,h3,h4,h5,h6{font-weight:400}ul,ol,li{list-style:none}em,i{font-style:normal}img{border:0}input,img{vertical-align:middle}iframe{margin:0;padding:0;border:0}:not(input,textarea){-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}input[type=button],input[type=checkbox],input[type=color],input[type=date],input[type=datetime],input[type=datetime-local],input[type=month],input[type=week],input[type=time],input[type=email],input[type=file],input[type=image],input[type=number],input[type=password],input[type=range],input[type=reset],input[type=search],input[type=submit],input[type=tel],input[type=text],input[type=url],select,textarea{-webkit-tap-highlight-color:transparent;-webkit-appearance:none;border:0;border-radius:0}textarea:focus,input:focus{outline:0}a{color:#6E7D8B;text-decoration:none;outline:0}a:active,a:hover,a.current{outline:0}.c{text-align:center}.tr{text-align:right}.f60,input.f60{color:#FF4C06}.f00{color:red}input,button,select,textarea{font-family:inherit;font-size:inherit;line-height:1;letter-spacing:normal;word-spacing:normal;text-transform:none;text-indent:0;text-shadow:none;vertical-align:middle}button,input,optgroup,select,textarea{color:inherit;margin:0;-webkit-writing-mode:horizontal-tb}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}input{color:#333}@-webkit-keyframes rotate{from{-webkit-transform:rotate(0deg)}to{-webkit-transform:rotate(360deg)}}@media screen and (min-width:410px){html{font-size:400%}}@media screen and (min-width:480px){html{font-size:469%}}@media screen and (min-width:640px){html{font-size:625%}}.c_hd{position:relative}.hide{display:none}.block{display:block}.floatL{float:left}.floatR{float:right}.gray666{color:#666}.gray333{color:#333}.gray999{color:#999}

/*预先渲染的页面样式*/
.gua {
    margin: .25rem .3rem .4rem;
    padding: 0.65rem 0 0.5rem;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0.8rem rgba(0,0,0,0.2);
}
.gua-img {
    width: 2.2rem;
    margin: 0.3rem auto;
}
.flex-unit {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    -webkit-flex:1;
    flex: 1;
}
.c{
    text-align: center;
}
.flex-box {
    display: -webkit-flex;
}
.t-mess li {
    height: .42rem;
    line-height: .42rem;
    font-size: .36rem;
    color: #333;
}
.event-list-box{
    margin-left: .3rem;
    margin-right: .3rem;
    overflow: hidden;
    box-shadow: 0 0 0.8rem rgba(0,0,0,0.2);
}
.event-item {
    background-color: #fff;
    padding: .4rem .3rem 0.4rem 1rem;
    overflow: hidden;
    box-shadow: 0.02rem 0.03rem 0.2rem rgba(0, 0, 0, 0.1);
    margin-bottom: .2rem;
    position: relative;
    overflow: hidden;
}
.event-tip {
    margin-top: .3rem;
    margin-bottom: .15rem;
    font-size: .28rem;
    color: #666;
    padding-left: .3rem;
}

.event-ico {
    position:absolute;
    top:50%;
    left:.3rem;
    display: inline-block;
    width: .52rem;
    height: .52rem;
    border-radius: 0.04rem;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
}
.pre-render-guaimg{
    display: inline-block;
    width:2.2rem;
    height: 2.2rem;
    background-color: #ddd;
    border-radius: 2.2rem;
}
.pre-render-icon{
    display: inline-block;
    width:.52rem;
    height: .52rem;
    background-color: #ddd;
}
.pre-render-event-p1{
    width:2.6rem;
    height:.4rem;
    margin-bottom: .1rem;
    background-color: #ddd;
}
.pre-render-event-p2{
    width:4rem;
    height:.3rem;
    background-color: #ddd;
}
.pre-render-good,.pre-render-bad{
    display: inline-block;
    margin-left: .2rem;
    width:2rem;
    height: .4rem;
    background-color: #ddd;
}
.pre-render-circle{
    display: inline-block;
    content: '';
    width: .1rem;
    height: .1rem;
    background-color: #ddd;
    margin-left: 0.5rem;
    vertical-align: 20%;
    border-radius: 50%;
}