#wrap {
    max-width: 750px;
    width: 100%;
}

@media screen and (min-width: 410px) {
  html {
    font-size: 350%; } }
@media screen and (min-width: 480px) {
  html {
    font-size: 469%; } }
@media screen and (min-width: 640px) {
  html {
    font-size: 625%; } }
html {
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  min-width: 6.4rem;
  font-size: 312.5%; }

body {
  color: #333;
  font-size: .28em;
  line-height: 1.5;
  font-family: arial, Microsoft Yahei;
  background: #eee;
  webkit-touch-callout: none;
  -webkit-user-select: none; }

ul, ol, li {
  list-style: none;
}

a {
  color: #6E7D8B;
  text-decoration: none;
  outline: 0; }
  a:active, a:hover, a.current {
    outline: 0; }

.calendar-zone {
    background: #fff;
    width: 100%;
    /* padding-bottom: .2rem; */
}

.l-nav {
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;
    padding: 0 .3rem;
}

.l-top {
    border-bottom: 1px solid #ddd;
    overflow: hidden;
    position: relative;
}

.l-date-box,
.l-top,
.l-title,
.l-like {
    background: #fff;
}

.hideItem {
    display: none;
}

.showItem {
    display: block;
}

.box-sizing {
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.l-nav li {
    height: .55rem;
    line-height: .55rem;
    color: #666;
    flex: 1;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    text-align: center;
}

.l-nav-date li {
    height: auto;
    line-height: 1;
    padding-bottom: .2rem;
}

.l-circle {
    display: block;
    width: .6rem;
    height: .45rem;
    border-radius: 50%;
    text-align: center;
    padding-top: .15rem;
    margin: 0 auto;
}

.l-circle:after {
    content: '';
    display: block;
    width: 0.06rem;
    height: .06rem;
    background: #e2233e;
    border-radius: 50%;
    margin: 0.04rem auto 0;
}

.l-cur-orange {
    background: #ff8000;
    color: #fff;
}

.l-cur-orange:after {
    background: #fff;
}

.l-nav-cur {
    background: #fff5e2;
    height: 0.81rem;
    padding-left: .3rem;
    padding-top: .3rem;
    line-height: 1;
}

.l-big-date {
    display: inline-block;
    font-size: .64rem;
    color: #111;
    padding-right: .2rem;
}

.l-nav-cur>p {
    display: inline-block;
    font-size: 0;
}

.l-nav-cur>p>span {
    color: #333;
    font-size: .24rem;
}

.l-nav-cur>p>span:first-child {
    display: block;
}


/*今日待办*/

.l-title {
    color: #666;
    font-size: .26rem;
    padding-left: .3rem;
    margin-bottom: .3rem;
}

.l-todo {
    background: #fff;
    padding: .3rem 0 0;
    margin-bottom: .2rem;
    overflow: hidden;
}

.l-ico {
    display: inline-block;
    width: .14rem;
    height: .14rem;
    border-radius: 100%;
    background: #e2233e;
    margin-right: .1rem;
}

.l-todo-ul {
    border-bottom: 1px solid #ddd;
}

.l-todo-ul li:last-child,.l-todo-ul .li-no-border{
    border: none;
    margin-bottom: 0;
}

.l-todo-ul li {
    margin-left: .3rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: .25rem;
    margin-bottom: .25rem;
    position: relative;
    /* overflow: hidden; */
}

.l-todo-p1 {
    font-size: .32rem;
    color: #111;
}

.l-todo-p2 {
    font-size: .26rem;
    color: #666;
    max-width: 70%;
}

#wrap .l-red {
    color: #e2233e;
}

.l-todo-more {
    position: absolute;
    right: .3rem;
    top: 50%;
    height: .3rem;
    line-height: .3rem;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    margin-top: -0.1rem;
    font-size: .28rem;
   /*  background: url(../images/ico02.png) no-repeat center right;
   -webkit-background-size: .16rem auto;
   background-size: .16rem auto; */
   padding-right: .3rem;
}
.l-todo-more-icon{
    /*ref:fullreplace background: url(https://cdn.m.stock.pingan.com/static/account/usercalendar/images/ico02.png?<%= buildNumber %>) no-repeat center right;*/
     background: url(../images/ico02.png) no-repeat center right;
     /*endref*/
    -webkit-background-size: .16rem auto;
    background-size: .16rem auto;
}

.l-click-more {
    height: .88rem;
    line-height: .88rem;
    text-align: center;
    font-size: .28rem;
    color: #333;
}

.l-down {
    display: inline-block;
    width: .26rem;
    height: .17rem;
    /*ref:fullreplace background: url(https://cdn.m.stock.pingan.com/static/account/usercalendar/images/ico03.png?<%= buildNumber %>) no-repeat 65% center;*/
    background: url(../images/ico03.png) no-repeat 65% center;
    /*endref*/
    -webkit-background-size: .26rem auto;
    background-size: .26rem auto;
}


/*待办都完成了*/

.l-p-nodata {
    height: 2.2rem;
    font-size: .28rem;
    color: #999;
     /*ref:fullreplace background: url(https://cdn.m.stock.pingan.com/static/account/usercalendar/images/ico04.png?<%= buildNumber %>) no-repeat center bottom;*/
    background: url(../images/ico04.png) no-repeat center bottom;
    /*endref*/
    -webkit-background-size: 1.4rem auto;
    background-size: 1.4rem auto;
    text-align: center;
    margin: .76rem 0 .46rem;
}



/*月明细*/

.l-date-detail {
    position: relative;
    overflow: hidden;
}

.l-date-t1 {
    position: relative;
    overflow: hidden;
    height: .8rem;
    line-height: .8rem;
    text-align: center;
    color: #666;
    border-bottom: 1px solid #ddd;
}

.icon-left,
.icon-right {
    display: inline-block;
    position: absolute;
    width: .8rem;
    height: 100%;
}

.icon-left {
    left: 0rem;
}

.icon-right {
    right: 0;
}

.l-ico-more {
    display: inline-block;
    width: .16rem;
    height: .26rem;
     /*ref:fullreplace background: url(https://cdn.m.stock.pingan.com/static/account/usercalendar/images/ico02.png?<%= buildNumber %>) no-repeat center right;*/
    background: url(../images/ico02.png) no-repeat center right;
    /*endref*/
    -webkit-background-size: .16rem auto;
    background-size: .16rem auto;
    position: absolute;
    right: .3rem;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.l-ico-more2 {
    left: .3rem;
    /*ref:fullreplace background-image: url(https://cdn.m.stock.pingan.com/static/account/usercalendar/images/ico02_left.png?<%= buildNumber %>); */
    background-image: url(../images/ico02_left.png);
    /*endref*/
}

.l-date-t2 {
    padding-left: 0.5rem;
    font-size: .26rem;
    color: #666;
    position: relative;
    overflow: hidden;
    margin-bottom: .2rem;
    margin-top: .25rem;
}

.l-date-t2 .l-ico {
    position: absolute;
    left: .2rem;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.l-date-detail .l-todo-ul li {
    margin-left: 0;
}

.l-date-detail .l-todo-ul {
    margin-left: .5rem;
}


/*连线*/

.l-line {
    position: absolute;
    left: .26rem;
    top: 0.5rem;
    display: inline-block;
    width: .02rem;
    height: 366px;
    background: #ccc;
}


/*刷新*/

.l-refresh {
    display: inline-block;
    width: .9rem;
    height: .9rem;
    /*ref:fullreplace background: rgba(0, 0, 0, 0.6) url(https://cdn.m.stock.pingan.com/static/account/usercalendar/images/fresh.png?<%= buildNumber %>) no-repeat center center; */
    background: rgba(0, 0, 0, 0.6) url(../images/fresh.png) no-repeat center center;
    /*endref*/
    -webkit-background-size: .66rem auto;
    background-size: .66rem auto;
    position: fixed;
    right: .3rem;
    bottom: 5%;
    border-radius: 100%;
    z-index: 999;
}


/*下来展开日历*/

.l-slide-up {
    display: none;
    /*width:.9rem;*/
    height: .54rem;
    line-height: .54rem;
    text-align: center;
    /*ref:fullreplace background: rgba(0, 0, 0, 0.6) url(https://cdn.m.stock.pingan.com/static/account/usercalendar/images/ico01.png?<%= buildNumber %>) no-repeat .25rem center; */
    background: rgba(0, 0, 0, 0.6) url(../images/ico01.png) no-repeat .25rem center;
    /*endref*/
    -webkit-background-size: .18rem auto;
    background-size: .18rem auto;
    position: absolute;
    left: 50%;
    /* top:1.35rem; */
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    border-radius: .27rem;
    color: #fff;
    padding: 0 .3rem 0 .5rem;
    font-size: .24rem;
    z-index: 10;
}


/*无事项*/

.l-gray {
    padding: .2rem 0;
    text-align: center;
    font-size: .26rem;
    color: #999;
    background: #f5f5f5;
}
/*事件前面加小图标*/
#todo-list .l-todo-ul li{
    margin-left: .8rem;
}
.eventIcon{
    position: absolute;
    top:0rem;
    left:-.5rem;
    width:.4rem;
    height: .4rem;
}